#container {
	width: 1400px;
	height: 650px;
	background: black;
	margin-left: auto;
	margin-right: auto;
}

#menu1{
	background-color: black;
	width: 250px;
	height:100px;
	float: left;
	margin-left: 120px;
}


#menu2{
	background-color: black;
	width: 200px;
	height:100px;
	float: left;
	margin-left: 65px
}


#menu3{
	background-color: black;
	width: 200px;
	height:100px;
	float: left;
	margin-left: 65px;
}


#menu4{
	background-color: black;
	width: 250px;
	height:100px;
	float: right;
	margin-right: 125px;

}

a.link{
	color: blue;
}

#main{
	padding-top: 200px;
	padding-bottom: 100px;
	padding-left: 300px;
	padding-right: 300px;
	background-color: white;

}

#column1{
	background-color: black;
	width: 1200px;
	padding-top: 120px;
	padding-left: 500px;
}

#image{
	padding-left: 470px;
	padding-top: -300px;
}

html, *{
	box-sizing: border-box;
	margin: 0;
	padding: 100;
	color: black;
}

h2{
	color: white;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 30px;
	margin-right: 30px;
	
	font-family: Palatino;
}

h5{
	color: #E6E6E6;
	margin-top: 30pX;
	margin-bottom: 30px;
	margin-left: 30px;
	margin-right: 30px;
	font-family: Helvetica, sans-serif;

}

