body{
	background: black;
}



#container {
	width: 1024px;
	height: 768px;
	background: black;
	margin-left: auto;
	margin-right: auto;
}

#header{
	width: 1024px;
	height: 100px;
	background: black;
}
#menu1{
	background-color: black;
	width: 250px;
	height:100px;
	float: left;
	margin-right: 22px;
}


#menu2{
	background-color: black;
	width: 200px;
	height:100px;
	float: left;
	margin-right: 72px
}


#menu3{
	background-color: black;
	width: 200px;
	height:100px;
	float: left;
	margin-right: 72px;
}


#menu4{
	background-color: black;
	width: 200px;
	height:100px;
	float: left;
	

}

a.link{
	color: blue;
}

#main{
	padding-top: 200px;
	padding-bottom: 100px;
	padding-left: 300px;
	padding-right: 300px;
	background-color: white;

}

#column1{
	background-color: black;
	width: 1024px;
	height:500px;
	margin-left: auto;
	margin-right: auto;
	line-height: 64px;
	font-family: Palatino;
	color: white;
	font-size: 30px;
	text-align: center;
}

#imageholder{
	margin-left: auto;
	margin-right: auto;
	width:400px;
	height: auto;

}

#column1-1{
	background-color: black;
	width: 400px;
	height:300px;
	margin-left: 100px;
	float: left;
}

#image1{
	padding-left: auto;
	padding-top: 10px;

}

#column1-2{
	background-color: black;
	width: 400px;
	height: 300px;
	margin-left: 100px;
	float: left;
}


html, *{
	box-sizing: border-box;
	margin: 0;
	padding: 100;
	color: black;
}

h2{
	color: white;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 30px;
	margin-right: 30px;
	
	font-family: Palatino;
}

h3{
	color: #E6E6E6;
	margin-top: 30pX;
	margin-bottom: 30px;
	margin-left: 30px;
	margin-right: 30px;
	font-family: Helvetica, sans-serif;
}

h5{
	color: #E6E6E6;
	margin-top: 30pX;
	margin-bottom: 30px;
	margin-left: 30px;
	margin-right: 30px;
	font-family: Helvetica, sans-serif;

}

h6{
	color: white;
	margin-top: 30pX;
	margin-bottom: 30px;
	margin-left: 30px;
	margin-right: 30px;
	font-family: Helvetica, sans-serif;


}

#symble{
	color: #E6E6E6;
	margin-top: 30pX;
	margin-bottom: 30px;
	margin-left: 30px;
	margin-right: 30px;
	font-family: Helvetica, sans-serif;

}
